*{
  box-sizing: border-box;
  background-origin: border-box;
  margin: 0;
}

/* Basis for colour palette comes from 1bit Monitor Glow Palette by Polyducks */
/* https://lospec.com/palette-list/1bit-monitor-glow */
/* you're welcome to change the colours if you want or any of the other general page style */
:root{
  --col-01:#222323;
  --col-02:#7ee1ff;
  --col-03:#fdb9fd;
  --col-04:#ac2cac;
  --col-05:#25a1a5;
  --col-06:#6f6f6f;
  --border: 1px solid var(--col-02);
}
/* I have picked these chosen color palettes because the pink colours are displayed on most of the videos and it would 
tie the aesthetic all together, I also added blue as a pop of colour and as blue compliments the colour pink so well. It is also 
displayed on some details of the video. My colour inspiration is taking these colours from the video, so it all ties in together */

body {
  height: 100vh;
  width: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: radial-gradient( var(--col-03), var(--col-04), var(--col-05), var(--col-01));
}

.video-player-wrapper{
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 0 auto;
}

/* becuase I want to overlay the play icon on the video they need to be in their own wrapper */
.video-element-wrapper{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

#videoElement{
  width: 100%;
  grid-column: 1/2;
  grid-row: 1/2;
}

#videoPlayOverlay{
  width: 8rem;
  height: 8rem;
  grid-column: 1/2;
  grid-row: 1/2;
  justify-self: center;
  align-self: center;
  opacity: 0.6;
  display: none;
}

.video-controls-wrapper{
  display: none;
}
/* this overwrites the above display:flex - something which is then undone when the JS loads */

#controlsWrapper{
 
}

#controlsWrapper2{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1.5rem;
    gap: 1rem;

}

.video-control-button{
  width: 2rem;
  height: 2rem;
  padding: .1rem;
  border: none;
  cursor: pointer;
}
.video-control-button:hover{
  background-color: var(--col-05);
}
.video-control-button:active{
  background-color: var(--col-06);
}
.button-icon{
  pointer-events: none;
}

#playButton{
  background-image: url('./icons/play.svg');
  height: 50px;
  width: 50px;
  background-color: transparent;
  
}

#muteButton{
  background-image: url('./icons/mute.svg');
  height: 50px;
  width: 50px;
  background-color: transparent;
}

#rewindButton{
  background-image: url('./icons/rewind.svg');
  height: 50px;
  width: 50px;
  background-color: transparent;
  
}

#forwardButton{
  background-image: url('./icons/fastForward.svg');
  height: 50px;
  width: 50px;
  background-color: transparent;
  
}
  
.video-progress-bar{
  /* Reset the default appearance */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  height: 2rem;
  flex-grow: 1;
  cursor: pointer;
  background-color: var(--col-01);
  box-shadow: 0 1px 2px var(--col-02) inset;
  
}
::-moz-progress-bar {
  background-color: var(--col-02);
}

::-webkit-progress-bar {
  background-color: var(--col-01);
  box-shadow: 0 1px 2px var(--col-02) inset;
}
::-webkit-progress-value {
  background-color: var(--col-02);
}

.timeline-loading{
  background-image: -moz-repeating-linear-gradient(45deg, var(--col-03) 0% 2%, transparent 2% 4%, red 4%);
  background-size: 200% 100%;
  animation: loadingAnimation 4s linear infinite;
}

@keyframes loadingAnimation {
  100%{
    background-position: 50% 0%;
  }
}