/*
  This one CSS file is imported into both index.html AND hosono.html so you need to be careful that it 
  works for both.
*/

*{
  box-sizing: border-box;
  background-origin: border-box;
  margin: 0;
}


:root{

  --col-01:#171219;
  --col-02:#f2fbeb;
  --col-03:#c75fff;
  --col-04:#b6e878;
  --col-05:#8049b3;
  --col-06:#502876;
  --col-07:#7e1cd4;
  --col-08:#b788e0;
/* the colour palette I have chosen compliments both of the light and dark mode of the website as it is a good contrast on both modes, 
so it is user friendly */
  font-size: 16px;
  scroll-behavior: smooth;
}

body{
  padding: 1rem;
  background-color: var(--col-02);
  color: var(--col-01);
  transition: color 1s ease-in-out;
  /* the transition property i have chosen gives the website a smooth and seamless transition between light and dark mode*/
  
}


nav {
  margin-top: 1rem;
}

nav li{
  font-size: 1rem;
  
}
nav li:hover{
  font-size: 1rem;
  color: var(--col-07);
  
}
/* For the feedback i have chosen here, I want the user to know when they are hovering over it making it more visible to see and to show them that it is clickable */


nav ol li a {
  cursor: pointer;
}

nav ol li a:hover {
  cursor: pointer;
  color: var(--col-07);
}
/* For the feedback i have chosen here, I want the user to know when they are hovering over it making it more visible to see and to show them that it is clickable */


section{
  margin-bottom: 2rem;
}

h1{
  font-size: 3rem;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

a:hover {
  color: var(--col-03);
}

a:active {
  color: var(--col-03);
}
/* The feedback i have picked for the link/hyperlink is change of color to show the user that it is clickable making it visible to see when they are hovering over it */

h2{
  font-size: 2rem;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

p{
  font-size: 1rem;
  margin-top: 1rem;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 23px;
}

figcaption{
  width: fit-content;
  
}

dl ul{
  margin-bottom: 0;
}

li{
  font-size: 1rem;
  cursor: pointer;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  
}

dd{
  padding-left: 60px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  
  
}

li ul{
  padding-left: 40px;
  
}

.img-wrapper{
  width: 100%;
  margin-bottom: 1.5rem;
  
}

.img-figure{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.article-img{
  width: 80%;
}

.res-columns{
  column-width: 25rem;
  
}


#mode-button{
  float: right;
  position: sticky;
  top: 1rem;
  background-color: var(--col-05);
  border-radius: 12px;
  color: white;
  padding: 10px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
  box-shadow: 0 1px 1px 0 var(--col-03), 0 6px 20px 0 var(--col-03);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#mode-button:hover{
  background-color: var(--col-06);
 
}
/* For the mode button feedback, i want to make it simple and easy to navigate putting it on top of the page and using sticky position so 
users can change the mode of the website anytime they desire. As well as adding a hover state so users can get feedback from the button */

#topbutton{
  float: right;
  position: sticky;
  top: 1rem;
  background-color: var(--col-05);
  border-radius: 12px;
  color: white;
  padding: 10px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
  box-shadow: 0 1px 1px 0 var(--col-03), 0 6px 20px 0 var(--col-03);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#topbutton:hover{
  background-color: var(--col-06);
 
}
/* For the top button feedback just like the mode button, i want to make it simple and easy to navigate putting it on top of the page and using sticky position so 
users can go back to the top of the page anytime they like. As well as adding a hover state so users can get feedback from the button */




/* code for loading page */

#load-body{
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
/* changing button to look like a link */
#load-link{
  line-height: 1rem;
  background-color: transparent;
  border: 0;
  cursor: pointer;
}
/* throbber while page is fake loading */
#load-throbber{
  /* the width, height and background-color give it a shape on the page without any content inside - 
  these value are arbitrary, please change to create your own design  */
  width: 25%;
  height: 1rem;
  /* we also initially set display to none so it only shows once the link is clicked */
  display: none;
  border-radius: 8px;
  background: repeating-linear-gradient(to right, var(--col-05) 0%, var(--col-08) 30%, var(--col-06) 50%, var(--col-07) 100%);
  background-size: 200% auto;
  background-position: 0 100%;
  animation: gradient 2s infinite;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
 
}
/* for the loading bar, I wanted to make it gradient, using the colour palette and the aesthetic that the whole website has which is using the 
colour purple. I think the gradient really creates the perfect feedback for a loading bar */

@keyframes gradient { 
  0%   { background-position: 0 0; }
  100% { background-position: -200% 0; }
}


/* Media Queries */

/* medium devices 600 - 992 */
@media only screen and (min-width: 600px) {
  :root{
    font-size: 20px;
  }
  
  .img-wrapper{
    width: 75%;
    margin: 1.5rem auto;
  }

}

/* medium devices 992 + */
@media only screen and (min-width: 992px) {
  :root{
    font-size: 24px;
  }

  .img-wrapper{
    max-width: fit-content;
    float: right;
    margin: 1.5rem;
  }

}

@media (prefers-reduced-motion) {
  :root{
    scroll-behavior: auto;
  }
}