*{
    box-sizing: border-box;
    background-origin: border-box;
    margin: 10;

}

/* colour palettes I have chosen for this website and the overall page style */
:root{
    --col-01: #ACDA2B;
    --col-02: #D92327;
    --col-03: #FFC939;
    --col-04: #452763;
    --col-05: #2C1744;
    --col-06: #990000;
    --col-07: #000000;
    --col-08: #8ab907;
    --font-family: monospace;
    --font-style: bold;
    --text-align: center;
  }
/* I hove chosen these colour palettes as it is the colours represented in Cocteau Twins' album named "Heaven or Las Vegas",
I really want to capture the colours and the essence of the song and album. As the overall aesthetic of the album is very dreamy and bold, 
I really want to capture that with the colours I have chosen. The album holds on one of my favorite songs called "Cherry-coloured Funk". */



/* background of the website */
body{
    color: var(--col-01);
    background: 
        linear-gradient(
        217deg,
        var(--col-04),
        var(--col-02) 60.71%), linear-gradient(127deg, var(--col-05), var(--col-07) 50.71%),
        linear-gradient(336deg, var(--col-06), var(--col-07) 70.71%);

  }

/* text of the website */
.box{
    display: flex;
    justify-content: center;
    align-items: center;
}

h1{
    text-align: var(--text-align);
    font-family: var(--font-family);
    font-size: 25pt;

}

p{
    border: 5px solid var(--col-01);
    text-align: var(--text-align);
    padding: 25px;
    font-family: var(--font-family);

}

p:hover {
    background-color: transparent;
    border: 5px solid var(--col-01);
    font-size: 30px;
    padding: 55px;
    
}

h6{
  font-family: var(--font-family);
  font-size: 8pt;
  color: var(--col-04);
  text-align: left;
  padding-left: 15px;
  padding-right: 15px;

}


/* control buttons of the website (play&pause buttons) */
.video-control-button{
    width: 2rem;
    height: 2rem;
    padding: 1rem;
    border: none;
    background: transparent;
    cursor: pointer;
  }

#playButton{
    background-image: url('./icons/play.svg');
    background-size: cover;
    position: absolute;
    top: 20px;
    left: 20px;
  }

/* collapsed sidebar for the 500 words */
.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: var(--col-01);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  
  }
  
.sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    color: var(--col-04);
    display: block;
    transition: 0.3s;
  }

  
.sidebar .closebutton {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
.openbutton {
    font-size: 20px;
    cursor: pointer;
    background-color: var(--col-01);
    color: var(--col-05);
    padding: 10px 15px;
    border: none;
    position: absolute;
    top: 20px;
    right: 20px;
  }
  
.openbutton:hover {
    background-color: var(--col-08);
  }
  
#main {
    transition: margin-left .5s;
    padding: 16px;
  }
  
